<div class="styled">
<center>
<h1> Welcome to Beta Breakers! </h1><br>

<h4><em>Go beyond the guidebook.</h4></em><br><br>

<%= link_to 'Login', login_path %><br>

<%= link_to 'Signup', signup_path %><br>

<%= link_to 'Login via Facebook', '/auth/facebook' %><br><br>

</center>
</div>