<center>
<h1> Welcome to Beta Breakers! </h1>

<h4><em>Go beyond the guidebook.</h4></em><br>

<%= link_to 'Login', login_path %><br>

<%= link_to 'Signup', signup_path %><br>

<%= link_to 'Login via Facebook', '' %>
</center>