<div class="styled">
<center>
<%= render partial: "layouts/homehead" %>

<h4>Go beyond the guidebook.</h4><br><br>

<%= link_to 'Login', login_path %><br>

<%= link_to 'Sign Up', signup_path %><br>

<%= link_to 'Login via Facebook', '/auth/facebook' %><br><br><br>
</center>
</div>