<center>
<h1> Welcome, <%= @user.username.capitalize %>! </h1><br>

<%= button_to 'Add New Route', new_roote_path(@user), method: :get %><br>
<%= button_to 'View All Routes', rootes_path, method: :get %><br>

<h4> Your Recent Routes: </h4>

<br>

<%= link_to 'Logout', logout_path, method: :delete %>
<center>