body {
    background-image: url("climb.jpg");
    background-attachment: fixed;
    background-size: cover;
    background:#fff;
    opacity: 0.8;
}

p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 300px;
  }