@media screen {
    body {
      font-family: 'HelveticaNeue-Light';
      background-image: url("background.jpg");
      background-attachment: fixed;
      background-size: cover;
      color: #333;
      line-height: 20px;
    }
  
    h1 {
      font-size: 36px;
      line-height: 54px;
    }
  
    h2 {
      // border-bottom: 2px solid #ccc;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 16px;
    }
  
    h3 {
      font-size: 18px;
      line-height: 36px;
    }
  
    p {
        margin-bottom: 18px;
    }
  
    .main {
      overflow: hidden;
    }
  
    .content {
      float: left;
      width: 60%; /* 480px / 800px */
    }
  
    .sidebar {
      background: #eee;
      border: 1px solid #ccc;
      float: right;
      padding: 2.08333333333%; /* 5px / 240px */
      width: 30%; /* 240px / 800px */
    }
  
    .sidebar ul {
      font-size: 14px;
    }
  
    .branding {
      clear: both;
    }
  
    footer.branding {
      border-top: 2px solid #ccc;
      margin-top: 20px;
      padding-top: 20px;
    }

    div.styled {
        background:  #eee;
        opacity: 0.95;
        border-radius: 2%;
        width: 1000px;
        height: 500px;
        padding: 10px;
        margin: 20px auto;
    }

    div.user-rootes {
      position: relative;
      float: left;
      left: 50px;
      top: 20px;
      border: 2px solid #ccc; 
      border-radius: 1%;
      width: 550px;
      height: auto;
    }

    div.all-rootes {
      position: relative;
      float: right;
      right: 50px;
      top: 20px;
      border: 2px solid #ccc; 
      border-radius: 1%;
      width: 300px;
      height: auto;
    }

    div.footer {
      position: relative;
      top: 300px;
      right: 130px;
    }
    
    div.comments {
      border: 1px solid #ccc; 
      border-radius: 1%;
      margin: auto;
      padding: 15px 10px 0px 10px;
      width: 500px;
      height: auto;
    }

    span.rating {
      font-weight: 700;
    }

    span.date {
      font-size: 12px;
      color:  #b3b3b3;
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      width: 20px auto;
    }
  
    .content, .sidebar {
      float: none;
      width: 100%;
    }
  
    .sidebar {
      background: transparent;
      border: none;
      border-top: 2px solid #ccc;
      padding: 0;
    }
  }


    