<center>
<h1> Edit Your Beta </h1><br>

<%= form_for @roote do |f| %> 
    <%= render partial: 'form', locals: {f: f} %>
    <%= f.submit 'Edit' %>
<% end %><br><br>

<%= render partial: 'footer' %>
</center>