<center>
<h1> All Routes </h1>

<% @rootes.each do |r| %>
    <%= link_to r.name, roote_path(r) %> - <%= r.category %> (<%= r.difficulty %>)
    <br>
<% end %><br>

<%= link_to 'Home', user_path(@user) %>

</center>